.item {
  margin-right: 16px;
  padding: 0 20px;
  border-radius: 16px;
  color: #212121;
  font-family: 'Karla', 'Arial', sans-serif;
}

.green {
  background-color: #73d677;
}

.purple {
  background-color: #c956ff;
}

.yellow {
  background-color: #f5db13;
}

.blue {
  background-color: #07d6f2;
}