.layout {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;

  box-sizing: border-box;
  border-radius: 8px;
  width: 796px;
  height: 370px;
  background-color: rgb(83, 83, 135);
  font-family: 'Karla', 'Arial', sans-serif;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 40%;
  padding: 36px;
  background-color: #1f2a63;
  border-radius: 8px 0 0 8px;
}

.badgesWrapper {
  margin-top: auto;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 60%;
  padding: 36px;
  background-color: #1f2a63;
  border-radius: 0 8px 8px 0;
  background-image: linear-gradient(to bottom, #17002f 42%, #1f2a63 100%);
}

.title {
  margin-top: 0;
  color: #fdfdfd;
  font-size: 36px;
  text-align: center;
}

.colorsWrapper {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
}

.color {
  margin: 0;
}

.close {
  position: absolute;
  top: -50px;
  right: 0;

  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../../public/images/close-icon.png");
}

.close:focus {
  outline: none;
}
