.root {
  background-color: #1f2a63;
  font-family: "Karla", "Arial", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  margin-top: 10px;
  margin-bottom: 4px;
}

.navList {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 25px;
  line-height: 1.2;
}

.navItem:not(:last-child) {
  margin-right: 20px;
}

.navLink {
  position: relative;
  padding: 10px;
  color: #f6f7f9;
  text-decoration: none;
}

.navLink:hover {
  color: #a8a9a9;
}

.navLink:active {
  color: #787878;
}

.navLinkCurrent,
.navLinkCurrent:hover,
.navLinkCurrent:active {
  color: #f6f7f9;
}

.navLinkCurrent::after {
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 12px;
  right: 12px;
  border-radius: 3px;
  background-color: #cfdab0;
  content: "";
  z-index: 2;
}