.page-header {
  /* padding-top: 10px; */
  /* padding-bottom: 4px; */
  background-color: #1f2a63;
  font-family: "Karla", "Arial", sans-serif;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
}

.page-header__logo {
  margin-top: 10px;
  margin-bottom: 4px;
}

.nav__list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 25px;
  line-height: 1.2;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  padding: 10px;
  color: #f6f7f9;
  text-decoration: none;
}

.nav__link:hover {
  color: #a8a9a9;
}

.nav__link:active {
  color: #787878;
}

.nav__link--current,
.nav__link--current:hover,
.nav__link--current:active {
  color: #f6f7f9;
}

.nav__link--current::after {
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 12px;
  right: 12px;
  border-radius: 3px;
  background-color: #cfdab0;
  content: "";
  z-index: 2;
}
